{
  "env": {
    "commonjs": true,
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "react",
    "prettier",
    "import",
    "react-hooks"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "react-app",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}